In [ ]:
import numpy as np
import pandas as pd 
from bs4 import BeautifulSoup
import requests
from datetime import date
import os

In [25]:
def scrape_worldwide_ranking(year):
    url=f'https://www.boxofficemojo.com/year/world/{year}/'
    req=requests.get(url)
    content=req.text
    soup=BeautifulSoup(content)
    rows=soup.findAll('tr')
    appended_data = []
    os.makedirs('dataBoxofficeMojo', exist_ok=True)
    for index in range(1,len(rows)):
        data_row = {}
        data = rows[index].findAll('td')
        if len(data) == 0:
            continue
        data_row['rank'] = data[0].text
        data_row['title'] = data[1].text
        data_row['worldwide'] = data[2].text
        data_row['domestic'] = data[3].text
        data_row['domestic_pct'] = data[4].text
        data_row['foreign'] = data[5].text
        data_row['foreign_pct'] = data[6].text
        data_row['Year'] = f'{year}'
        appended_data.append(data_row)
    ranking_data = pd.DataFrame(appended_data, columns = ['rank','title', 'worldwide', 'domestic', 'domestic_pct', 'foreign', 'foreign_pct','Year']) 
    ranking_data.to_csv( f'dataBoxofficeMojo/ranking_summary_{year}.csv',index=False)

In [26]:
todays_date = date.today()
current_year = todays_date.year
years = range(1977, current_year+1)

In [ ]:

for year in years:
    print(year)
    scrape_worldwide_ranking(year)

1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024

In [31]:
import glob
 
# list all csv files only
csv_files  = glob.glob('C:/Users/tangj/OneDrive/Documents/ADAprojet/ada-2024-project-l-ekip/dataBoxofficeMojo/*.csv')
df_list = []
for file in csv_files:
    df = pd.read_csv(file)
    df_list.append(df)
full_df = pd.concat(df_list, ignore_index=True)
display(full_df.head(300))
print(full_df.shape)
full_df.to_csv('FulldataBoxOfficeMojo.csv', index=False)

,rank,title,worldwide,domestic,domestic_pct,foreign,foreign_pct,Year
0,1,Star Wars: Episode IV - A New Hope,"$307,263,857","$307,263,857",100%,-,-,1977
1,2,Smokey and the Bandit,"$126,748,082","$126,737,428",100%,$87,<0.1%,1977
2,3,Close Encounters of the Third Kind,"$116,395,662","$116,395,460",100%,-,-,1977
3,4,Saturday Night Fever,"$94,214,336","$94,213,184",100%,-,-,1977
4,5,A Bridge Too Far,"$50,750,000","$50,750,000",100%,-,-,1977
...,...,...,...,...,...,...,...,...
295,1,Superman II,"$216,385,706","$108,185,706",50%,"$108,200,000",50%,1981
296,2,Raiders of the Lost Ark,"$212,222,025","$212,222,025",100%,-,-,1981
297,3,On Golden Pond,"$119,285,432","$119,285,432",100%,-,-,1981
298,4,Arthur,"$95,461,682","$95,461,682",100%,-,-,1981
299,5,Stripes,"$85,297,000","$85,297,000",100%,-,-,1981

(8847, 8)